* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #f4511e; }

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1em; }

.div-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }
  .div-redes .div-redes__icon {
    margin: 0.125rem;
    margin-top: 0.2125rem;
    width: 1.5625rem; }
    .div-redes .div-redes__icon:hover {
      transform: scale(1.1);
      transition: all 1s; }
  .div-redes .div-redes__icon--margin {
    margin: 0.3125rem;
    width: 1.75rem; }
    .div-redes .div-redes__icon--margin:hover {
      transform: scale(1.1);
      transition: all 1s; }

.div-carrito {
  margin: 0.3125rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; }
  .div-carrito .div-carrito__icon {
    width: 1.5625rem;
    margin-left: 0.3125rem; }

footer .fa-instagram {
  font-size: 1.5em;
  margin: 0.2125rem;
  color: #ffffff; }
  footer .fa-instagram:hover {
    color: #f4511e;
    transform: scale(1.3);
    transition: all 1s; }

footer .fa-facebook-f {
  font-size: 1.5em;
  margin: 0.2125rem;
  color: #ffffff; }
  footer .fa-facebook-f:hover {
    color: #f4511e;
    transform: scale(1.3);
    transition: all 1s; }

footer .fa-whatsapp {
  font-size: 1.5em;
  margin: 0.2125rem;
  color: #ffffff; }
  footer .fa-whatsapp:hover {
    color: #f4511e;
    transform: scale(1.3);
    transition: all 1s; }

footer .fa-envelope {
  font-size: 1.5em;
  margin: 0.2125rem;
  color: #ffffff; }
  footer .fa-envelope:hover {
    color: #f4511e;
    transform: scale(1.3);
    transition: all 1s; }

.navImg {
  width: 50%; }

nav {
  margin: 0.3125rem; }
  nav ul {
    font-weight: bolder; }
  nav .buscador {
    color: #ffffff;
    border: 1px solid #ffffff; }
    nav .buscador:hover {
      background-color: #ffffff;
      transition: all .5s; }

.section {
  margin: 0.2125rem; }
  .section .section__titulo {
    text-align: center;
    font-weight: bolder; }

.fila {
  display: flex;
  justify-content: center; }
  .fila .fila__cards {
    padding: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .fila .fila__cards .fila__cards__hover {
      width: 12rem; }
      .fila .fila__cards .fila__cards__hover:hover {
        transform: scale(1.05);
        transition: all 1s; }
    .fila .fila__cards .fila__cards__button {
      background-color: #f4511e; }
      .fila .fila__cards .fila__cards__button:hover {
        background-color: #000000;
        color: #f4511e;
        transition: all .5s; }

.pBlanco {
  display: none; }

.carousel {
  width: 100%;
  margin-bottom: 1rem; }
  .carousel .carousel__col {
    margin-top: 2rem; }
    .carousel .carousel__col .carousel__col__card--dflex {
      display: flex;
      justify-content: space-around; }
      .carousel .carousel__col .carousel__col__card--dflex .card__margin {
        font-size: 0.7rem;
        margin: 3rem; }
      .carousel .carousel__col .carousel__col__card--dflex .h6-card {
        font-size: 0.7rem; }

.carousel__button {
  background-color: #f4511e;
  font-size: 1em; }
  .carousel__button:hover {
    background-color: #000000;
    color: #f4511e;
    transition: all .5s; }

.section__compra {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .section__compra .section__div__compra {
    margin: 3rem; }
    .section__compra .section__div__compra .section__compra__card {
      display: flex;
      flex-direction: column;
      align-items: center; }

.section__compra__select {
  margin: 0.2rem;
  border: 1px solid black;
  border-radius: 10%; }

.section__btn {
  background-color: #f4511e;
  width: 100%; }
  .section__btn:hover {
    background-color: #000000;
    color: #f4511e;
    transition: all .5s; }

.img-compra {
  width: 18rem; }

.pagos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #ffffff; }
  .pagos .pagos__img {
    margin: 0.3125rem; }

.formulario {
  background-color: #000000;
  color: #ffffff;
  text-align: center; }
  .formulario .form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; }
    .formulario .form .form__input {
      display: flex;
      flex-flow: column wrap;
      align-items: center; }
    .formulario .form .form__input--color {
      background-color: #f4511e; }
    .formulario .form .form__input--color:hover {
      background-color: #ffffff;
      color: #f4511e;
      transition: all .7s; }

.formulario-pedidos {
  background-color: #ffffff;
  color: #000000; }
  .formulario-pedidos .form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 1.2em; }
    .formulario-pedidos .form .form__input {
      display: flex;
      flex-flow: column wrap;
      align-items: center; }
    .formulario-pedidos .form .form__input--color {
      background-color: #f4511e; }
    .formulario-pedidos .form .form__input--color:hover {
      background-color: #000000;
      color: #f4511e;
      transition: all .7s; }

.div-pedidos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }
  .div-pedidos .tablaPedidos {
    width: 60%; }

.titulo-pedidos {
  text-align: center;
  margin-top: 2rem; }

.mostrar {
  background-color: #f4511e;
  margin: 1rem; }
  .mostrar:hover {
    background-color: #000000;
    color: #f4511e;
    transition: all .7s; }

.buscador-filter {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .buscador-filter #filtrados {
    margin-bottom: 1rem;
    width: auto; }
  .buscador-filter #buscar {
    background-color: #f4511e; }
  .buscador-filter #buscar:hover {
    background-color: #000000;
    color: #f4511e;
    transition: all .7s; }

.div-filtrados {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }
  .div-filtrados .tablaFilter {
    width: 60%; }

.footer {
  font-family: 'Montserrat', sans-serif; }

.gridFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.3125rem;
  grid-template-rows: 1fr 1.5625rem;
  grid-row-gap: 0.9375rem;
  justify-items: center;
  align-items: center; }
  .gridFooter .gridHijo {
    margin-top: 1.875rem; }

footer {
  background-color: #000000;
  color: #ffffff; }
  footer ul {
    list-style: none; }
    footer ul h4 {
      font-size: 1em;
      font-weight: bolder; }
    footer ul li {
      font-size: 0.8em; }

a {
  text-decoration: none;
  color: #f8ededb2; }
  a:hover {
    color: #f4511e; }

.seccion {
  margin: auto;
  width: 70%;
  display: flex;
  flex-flow: column nowrap; }
  .seccion .seccion__titulo {
    text-align: center;
    font-weight: bolder; }
  .seccion .seccion__acordion {
    margin-bottom: 4rem; }

.seccion .seccion__titulo {
  text-align: center;
  font-weight: bolder; }

.seccion .seccion__carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .seccion .seccion__carrito .seccion__carrito__p {
    text-align: center; }
  .seccion .seccion__carrito .seccion__carrito__div {
    border-bottom: 1px solid #000000; }

.seccion .carritoProductos {
  padding: 20px 0px; }

.seccion #productosCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.seccion .carritoImg {
  max-width: 80px;
  border-radius: 20px; }

.seccion .cantidad {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px; }

.seccion .carritoTotal {
  min-height: 96px; }

.comprarButton {
  background-color: #f4511e; }
  .comprarButton:hover {
    background-color: #000000;
    color: #f4511e;
    transition: all .5s; }

/* LINKS */
a {
  text-decoration: none; }

/* LINKS */
/* pag oferta */
.tachado {
  text-decoration: line-through; }

/* Medias queries */
@media only screen and (max-width: 576px) {
  /* menu */
  .megustaCarrito {
    margin-top: 0.3125rem; }
  /* menu */
  .carousel {
    margin-bottom: 2rem; }
  .row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
  /*footer  */
  .gridFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: flex-start; }
  /* footer */ }

@media only screen and (min-width: 567px) {
  /*menu*/
  .div-carrito {
    margin-top: 0.3125rem;
    display: flex;
    flex-flow: row nowrap; }
  /*menu*/
  .row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; } }

@media only screen and (min-width: 1023px) {
  /* menu */
  .div-carrito {
    display: flex;
    flex-flow: row nowrap; }
  /* menu */
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; } }
