@import "variables";

.seccion{
    .seccion__titulo{
        text-align: center;
        font-weight: bolder;
    }
    .seccion__carrito{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .seccion__carrito__p{
            text-align: center;
        }
        .seccion__carrito__div{
            border-bottom: 1px solid $bg-color-fyf;
        }
    }
    .carritoProductos{
        padding:  1.25rem 0rem;
    }
    #productosCarrito{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    };
    .carritoImg{
        max-width: 5rem;
        border-radius: 1.25rem;
    }
    .cantidad {
        max-width: 2.8125rem;
        border: 1px solid #ccc;
        border-radius: 0.3125rem;
        background: #eee;
        padding: 0.3125rem;
    }
    .carritoTotal{
        min-height: 6rem;
    }
    .precioFinal{
        margin: 0.625rem;
    }
}
  
.comprarButton{
    background-color: $header-color;
    margin: 0.625rem;
        &:hover {
            background-color: $bg-color-fyf;
            color: $header-color;
            transition: all .5s;
        }  
}
.vaciarCarrito{
    background-color: $header-color;
    margin: 0.625rem;

        &:hover {
            background-color: $bg-color-fyf;
            color: $header-color;
            transition: all .5s;
        }  
}
.botonModal{
    background-color: $header-color;

        &:hover {
            background-color: $bg-color-fyf;
            color: $header-color;
            transition: all .5s;
        }  
}