$font-size: 3em;
$width: 3.125rem;
@import "variables";
.div-redes{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    .div-redes__icon{
        margin: 0.125rem;
        margin-top: 0.2125rem;
        width: $width/2;
        &:hover{
            transform: scale(1.1);
            transition: all 1s;
        }
    }
    .div-redes__icon--margin{
        margin: 0.3125rem;
        width: 1.75rem;
        &:hover{
            transform: scale(1.1);
            transition: all 1s;
        }
    }

}

.div-carrito{
    margin: 0.3125rem;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: flex-end;  
    .div-carrito__icon{   
        width: $width/2;
        margin-left: 0.3125rem;
    }
}
footer{
    .fa-instagram{
        font-size: $font-size/2;
        margin: 0.2125rem;
        color: $body-color;
        &:hover{
            color: $header-color;
            transform: scale(1.3);
            transition: all 1s;
        }
    }
    .fa-facebook-f{
        font-size: $font-size/2;
        margin: 0.2125rem;
        color: $body-color;
        &:hover{
            color: $header-color;
            transform: scale(1.3);
            transition: all 1s;
        }
    }
    .fa-whatsapp{
        font-size: $font-size/2;
        margin: 0.2125rem;
        color: $body-color;
        &:hover{
            color: $header-color;
            transform: scale(1.3);
            transition: all 1s;
        }
    }
    .fa-envelope{
        font-size: $font-size/2;
        margin: 0.2125rem;
        color: $body-color;
        &:hover{
            color: $header-color;
            transform: scale(1.3);
            transition: all 1s;
        }
    }
}