* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #f4511e;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

.div-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.div-redes .div-redes__icon {
  margin: 0.125rem;
  width: 1.5625rem;
}

.div-redes .div-redes__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.div-redes .div-redes__icon--margin {
  margin: 0.3125rem;
  width: 1.5625rem;
}

.div-redes .div-redes__icon--margin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.div-carrito {
  margin: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.div-carrito .div-carrito__icon {
  width: 1.5625rem;
}

.div-carrito .div-carrito__icon--margin {
  margin-left: 0.3125rem;
  width: 1.5625rem;
}

footer .fa-instagram {
  font-size: 1.5em;
  margin: 0.2125rem;
  color: #ffffff;
}

footer .fa-instagram:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer .fa-facebook-f {
  font-size: 1.5em;
  margin: 0.2125rem;
  color: #ffffff;
}

footer .fa-facebook-f:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navImg {
  width: 50%;
}

nav {
  margin: 0.3125rem;
}

nav ul {
  font-weight: bolder;
}

nav .buscador {
  color: #ffffff;
  border: 1px solid #ffffff;
}

nav .buscador:hover {
  background-color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.section {
  margin: 0.2125rem;
}

.section .section__titulo {
  text-align: center;
  font-weight: bolder;
}

.fila .fila__cards {
  margin: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fila .fila__cards:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fila .fila__cards .fila__cards__button {
  background-color: #f4511e;
}

.fila .fila__cards .fila__cards__button:hover {
  background-color: #000000;
  color: #f4511e;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.pagos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.pagos .pagos__img {
  margin: 0.3125rem;
}

.formulario {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.formulario .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.formulario .form .form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario .form .form__input--color {
  background-color: #f4511e;
}

.formulario .form .form__input--color:hover {
  background-color: #ffffff;
  color: #f4511e;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.footer {
  font-family: 'Montserrat', sans-serif;
}

.gridFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.3125rem;
  -ms-grid-rows: 1fr 1.5625rem;
      grid-template-rows: 1fr 1.5625rem;
  grid-row-gap: 0.9375rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridFooter .gridHijo {
  margin-top: 1.875rem;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

footer ul {
  list-style: none;
}

footer ul h4 {
  font-size: 1em;
}

footer ul li {
  font-size: 0.8em;
}

/* LINKS */
a {
  text-decoration: none;
}

/* LINKS */
/* pag oferta */
.tachado {
  text-decoration: line-through;
}

/* Medias queries */
@media only screen and (max-width: 576px) {
  /* menu */
  .megustaCarrito {
    margin-top: 0.3125rem;
  }
  /* menu */
  /*footer  */
  .gridFooter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: flex-start;
  }
  /* footer */
}

@media only screen and (min-width: 567px) {
  /*menu*/
  .div-carrito {
    margin-top: 0.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  /*menu*/
}

@media only screen and (min-width: 1024px) {
  /* menu */
  .div-carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  /* menu */
}
/*# sourceMappingURL=style.css.map */